
h1 {
color: white;
padding: 50px;
font-size: 100px;
padding-top: 10px;
text-shadow: 3px 3px 10px black;
}
    
body{
    background-color:white
}

.header{
    padding: 130px;
    background-image: url('pg.png') ;
    /* display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    padding-top: 10px;
    text-align: center;
    align-items: "center";
    color: white;
    text-shadow: 3px 3px 10px black;
}

.grid{
    padding: 130px;
    background-image: url('bc.jpg');
    background-size: cover;
    display: flex;
    /*align-content:stretch; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer{
    background-image: url('pg.png');
    display: flex;
    /*align-content:stretch; */
    flex-wrap: wrap;
    justify-content: space-between;

}

a:hover {
    font-size: 20px;
}

.items{
    background-color: coral;
    margin-top: 10px;
}

p{
text-align: center;
}